<!DOCTYPE html>
<html lang="en">
<head>
    <title>My videos</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Bootstrap based News, Magazine and Blog Theme">

    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if (el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })

                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })

                showActiveTheme(getPreferredTheme())

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })

            }
        })

    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap"
          rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/vendor/tiny-slider/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css">

    <!-- Theme CSS -->
    <link id="style-switch" rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

<!-- =======================
Header START -->
<header  class="navbar-light navbar-sticky header-static border-bottom navbar-dashboard">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <!-- Logo START -->
            <a class="navbar-brand me-3" href="index.html">
                <img class="navbar-brand-item light-mode-item" src="/images/logo.svg" alt="logo">
                <img class="navbar-brand-item dark-mode-item" src="/images/logo-light.svg" alt="logo">
            </a>
            <!-- Logo END -->

            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="text-body h6 d-none d-sm-inline-block">Menu</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Main navbar START -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll mx-auto">

                    <li class="nav-item"><a class="nav-link" th:href="@{/auth/home}"><i
                            class="bi bi-house-door me-1"></i>Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="bi bi-camera-video"></i>   Videos</a>
                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">
                            <li> <a class="dropdown-item" th:href="@{/video-upload/upload}"><i class="bi bi-cloud-arrow-up"></i>    Upload</a>
                            </li>
                            <li> <a class="dropdown-item" th:href="@{/video-stream/stream}"   ><i class="bi bi-cast"></i>      Stream</a>
                            </li>
                            <li> <a class="dropdown-item" th:href="@{/video-stream/my_videos}"   ><i class="bi bi-tag"></i>      My videos</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- Main navbar END -->

            <!-- Nav right START -->
            <div class="nav flex-nowrap align-items-center">
                <!-- Profile dropdown START -->
                <div class="nav-item ms-2 ms-md-3 dropdown">
                    <!-- Avatar -->
                    <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button"
                       data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img class="avatar-img rounded-circle" src="/images/avatar/03.jpg" alt="avatar">
                    </a>

                    <!-- Profile dropdown START -->
                    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
                        aria-labelledby="profileDropdown">
                        <!-- Profile info -->
                        <li class="px-3">
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <div class="avatar me-3">
                                    <img class="avatar-img rounded-circle shadow" src="/images/avatar/03.jpg"
                                         alt="avatar">
                                </div>
                            </div>
                            <hr>
                        </li>
                        <!-- Links -->
                        <li><a class="dropdown-item" th:href="@{/auth/signout}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a>
                        </li>
                        <li class="dropdown-divider mb-2"></li>
                    </ul>
                    <!-- Profile dropdown END -->
                </div>
                <!-- Profile dropdown END -->

                <!-- Nav right END -->
            </div>
        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>


    <!-- =======================
    Recent Episodes START -->
    <section class="pt-0 pt-lg-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!-- Title -->
                    <h2 class="mb-4">My videos</h2>
                    <!-- Episodes Item START -->
                    <div th:each="video : ${videos}" class="card border rounded-3 p-3 mb-4">
                        <div class="row g-4">
                            <div class="col-md-5">
                                <div class="position-relative">

                                    <video class="rounded-3" id="my-video">
                                        <source th:src="${'https://storage.googleapis.com/dtube-videos/'+video.path+'.mp4'}"
                                                alt="Card image"
                                                type="video/mp4">

                                    </video>
                                    <div class="card-img-overlay d-flex flex-column p-3 p-sm-5">
                                        <div class="position-absolute top-50 start-50 translate-middle pb-5">
                                            <a th:href="${'https://storage.googleapis.com/dtube-videos/'+video.path+'.mp4'}"
                                               class="icon-lg bg-primary d-block text-white rounded-circle text-center"
                                               data-glightbox
                                               data-gallery="y-video">
                                                <i class="bi bi-play-btn"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="d-flex justify-content-between mb-2">
                                    <!-- Episode -->
                                    <a class="badge text-bg-danger mb-2" th:text="${'Video '+videoStat.index+1}"></a>
                                    <form id="del" th:action="@{/video-upload/delete-video}" method="POST">
                                        <input type="hidden" name="newMessages" th:value="${video.id}"/>
                                        <a onclick="myFunction()" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Delete"><i
                                                class="bi bi-trash"></i></a>
                                    </form>
                                </div>
                                <!-- Title -->
                                <h4 class="card-title">
                                    <a href="#" class="btn-link text-reset" th:text="${video.name}">Everything I Know
                                        (so Far) on UI/UX Ep.01</a>
                                </h4>
                                <!-- Author info -->
                                <div class="d-flex align-items-center position-relative mt-5">
                                    <h6 class="mb-0 th:text=" th:text="${video.description}"></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Episodes Item END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Featured video END -->


</main>
<!-- **************** MAIN CONTENT END **************** -->


<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short"></i></div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>

<script src="/js/functions.js"></script>
<!-- Template Functions -->

<script>
    function myFunction() {
        document.getElementById("del").submit();
    }
</script>

</body>
</html>